#background {
    position: relative;
    background-image: url("../img/welcomescreen.jpg");
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-15deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.4;
    z-index: -1;
}

#content {
    position: absolute;
    min-width: 75%;
    padding: 1rem;
    background-color: #F4FAFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
    z-index: 1;
}

@media (min-width: 992px) {
    h1 {
    font-size: 3rem;
    text-transform: uppercase;
    }
}
