astroid==2.5.3
autopep8 @ file:///tmp/build/80754af9/autopep8_1615918855173/work
Babel==2.9.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
dnspython==2.1.0
email-validator==1.1.2
Flask==1.1.2
Flask-Login==0.5.0
flask-mongoengine==1.0.0
Flask-WTF==0.14.3
idna==2.10
isort==5.8.0
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
mongoengine==0.23.0
pycodestyle @ file:///tmp/build/80754af9/pycodestyle_1615748559966/work
pylint==2.7.4
pymongo==3.11.3
pytz==2021.1
requests==2.25.1
toml==0.10.2
urllib3==1.26.4
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
WTForms==2.3.3
