{% extends 'base.html' %}
{% block heading %}{{ ('Leaderboard') }}{% endblock %}
{% set active_page = 'leaderboard' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css')}}" type="text/css">
{% endblock %}

{% block content %}

<div class="jumbotron text-center">
    <h6>Remember that the market is a manic depressive.
        <hr>
        <div><strong>"Warren Buffett"</strong></div>
    </h6>
</div>


<div class="col-12">
    {% for data in leaderboard_data %}
    <div class="row user-row">
        <div class="col-1 d-flex align-items-center">
            <div class="text-center"><strong>{{ loop.index }}</strong></div>
        </div>
        <div class="col-3 d-flex align-items-center">
            <div class="text-center">Username: <strong>{{ data.user.firstname | capitalized }}</strong></div>
        </div>
        <div class="col-4 offset-md-1 d-flex align-items-center">
            <div class="text-center">Profits: <strong>{{ data.user.total_profit | trim }} %</strong></div>
        </div>
        <div class="col-3 d-flex align-items-center justify-content-center">
            <div class="text-center"><button type="button" class="btn btn-secondary btn-sm m-2 data-collapse"
                 data-target="{{ loop.index }}">Explore profile</button>
            </div>
        </div>
    </div>
        <div id="{{ loop.index }}" class="hidden data-row row">
            {% if data.usd_balance %}
                <div class="col-3"><img src="{{ data.usd_balance.asset_name | image }} "
                    alt=""><strong>USD:</strong>
                {{ data.usd_balance.percentage  | trim }}%</div>
            {% endif %}
            {% for asset in data.assets %}
            <div class="col-3"><img src="{{ asset.asset_name | image }} "
                alt=""><strong>{{ asset.asset_name }}:</strong>
            {{ asset.percentage  | trim }}%</div>
            {% endfor %}
        </div>
{% endfor %}


{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/leaderboard.js')}}"></script>
{% endblock %}